


























@media only screen and (min-width: 968px) {
    
    .tentacles {
        height: 75vh;
        width: 75vh;
    }
    .characters {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    h1 {
        color: #FFF;
        text-align: center;
        font-size: 8vh;
        margin-block: 7vh;
    }
    h2 {
        font-size: 10vh;
    }
    .wrap {
        align-items: center;
    }
    .btn05 {
        padding: 48%; 
        clip-path: circle(9vh);
    }
    
    p {
        font-size: 5vh;
    }

    .add {
        margin-left: -115%;
    }
    .remove {
        margin-right: -115%;
    }

    .container-lista {

    }


    
   /*  .down {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .one {
        display: flex;
        flex-direction: row;
    }
     */


}

