/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: url(https://fonts.google.com/specimen/Anonymous+Pro)
}

body {
    background-image: url(Imagenes_Isaac/Background_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: azure;
}

/*CARRUSEL DE IMAGENES*/

.carrusel-sec {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.animation-container {
    display: inline-block;
    animation: moveImages linear infinite;
    margin: 0;
    padding: 0;
}

.animated-image {
    width: 100px;
    /* Ajusta el tamaño según tus necesidades */
    height: auto;
    margin-right: 20px;
    /* Ajusta el espacio entre las imágenes según tus necesidades */
}

/*FIN CARRUSEL DE IMAGENES*/

#check {
    display: none;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Anonymous Pro;
    font-size: 4vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5%;
}

/* #move {
    height: 40vh;
    width: 40vh; 
    transition: box-shadow .1s, transform;
    background: url(Imagenes_Isaac/Tentaculos.png)
        no-repeat
        center;
        background-size: cover;
}

#move:hover{
    box-shadow: 0px 0px 50px rgba(0,0,0, 1);
}
 */

 /* CONTENIDO */

.tentacles {
    background-image: url(Imagenes_Isaac/Tentaculos.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40vh;
    width: 40vh;
    text-align: center;
    align-items: center;
    padding-top: 14vh;
    padding-right: 3vh;
    opacity: 0.8;
}

.personage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    justify-content: center;
    align-items: space-around;
}

/*  BUTTONS */

footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 5vh;
}

.btn05 {
    background: #157F6E;
    opacity: 0.7;
    clip-path: circle(50% at center);
    cursor: pointer;
    border: none;
    padding: 15px 3px;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.one {
    cursor: pointer;
    border: none;
    padding: 16px 45px;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 98px;
    background: linear-gradient(1deg, rgba(255, 0, 0, 0.76) 0%, rgba(255, 0, 0, 0.89) 50.52%, rgba(255, 0, 0, 0.64) 100%);
    mix-blend-mode: plus-lighter;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 4vh;
}

button.one:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            green, darkred, darkgreen,
            darkred, green, darkred,
            darkgreen, darkred);
    background-size: 1500%;
    border-radius: 12px;
    filter: blur(28px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.two {
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 98px;
    background: linear-gradient(180deg, rgba(41, 58, 211, 0.76) 0%, rgba(41, 58, 211, 0.89) 50.52%, rgba(41, 58, 211, 0.64) 100%);
    mix-blend-mode: plus-lighter;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    
}

button.two:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            green, darkred, darkgreen,
            darkred, green, darkred,
            darkgreen, darkred);
    background-size: 1000%;
    border-radius: 12px;
    filter: blur(28px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}